annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1733532585909/work
attrs==23.2.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
click @ file:///home/conda/feedstock_root/build_artifacts/click_1733221831880/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1733256735222/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1733362299471/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1728947708687/work
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httptools @ file:///Users/runner/miniforge3/conda-bld/httptools_1732707694945/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1733217336947/work
lxml==5.2.2
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219682943/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
outcome==1.3.0.post0
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1733316837492/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1732253927743/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1733221634316/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1733323064783/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1725456256847/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1733344384719/work
trio==0.25.1
trio-websocket==0.11.1
typer==0.15.1
typer-slim==0.15.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn_1733331924121/work
uvloop @ file:///Users/runner/miniforge3/conda-bld/uvloop_1730214404471/work
watchfiles @ file:///Users/runner/miniforge3/conda-bld/watchfiles_1732689457453/work
websockets @ file:///Users/runner/miniforge3/conda-bld/websockets_1731498644006/work
wsproto==1.2.0
